#antu {
    font-family:'Times New Roman', Times, serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

#Header {
    color: #ca3a3a;
    text-align: center;
    margin-top: 20px;
}

#Form {
    background: #668cc5;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 2px 8px rgba(222, 237, 229, 0.858);
}

#next,
#back {
    background: #0a0a03;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 8px;
    font-size: 14px;
}
#next:hover {
    background-color: rgb(110, 214, 40);
}

#back {
    background-color: #033357;
}

#back:hover {
    background-color: #b42424;
}

fieldset {
    border: none;
}

input, textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    font-size: 14px;
}

textarea {
    resize: none;
    min-height: 150px;
}

p {
    margin: 10px 0;
}

input[type="submit"],
input[type="button"] {
    background: #181801;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background: #98cd1e;
}

ul {
    list-style-type: circle;
    padding-left: 10px;
}
li{
    list-style-type: circle;
    padding-left: 10px;
}

#exerciseList li,
#measurementList li {
    margin-bottom: 6px;
}

#photoGallery img {
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(64, 111, 138, 0.2);
}
